body {
    background-color: #21272b;
  }

.dark {
  color: white;
}

  .dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9999px 0 0 -5px;
    animation: dot-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
  }
  .dot-pulse::before, .dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
  }
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dot-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
  }
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dot-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
  }
  
  @keyframes dot-pulse-before {
    0% {
      box-shadow: 9984px 0 0 -5px;
    }
    30% {
      box-shadow: 9984px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 9984px 0 0 -5px;
    }
  }
  @keyframes dot-pulse {
    0% {
      box-shadow: 9999px 0 0 -5px;
    }
    30% {
      box-shadow: 9999px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 9999px 0 0 -5px;
    }
  }
  @keyframes dot-pulse-after {
    0% {
      box-shadow: 10014px 0 0 -5px;
    }
    30% {
      box-shadow: 10014px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 10014px 0 0 -5px;
    }
  }





  .load-right{
    rotate: -90deg;
    left: 65%;
  }
  .load-left{
    rotate: 90deg;
    left: 35%;
  }

  .load-more {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 40px; height: 40px;
    top: 50%;
    margin: -20px 0 0 -20px;
  }
    .load-more:before,
    .load-more:after {
      position: absolute;
      display: block;
      content: '';
      width: 30px; height: 30px;
      left: 50%; top: 50%;
      margin-top: -15px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: #fff;
      border-right-color: #fff;
      border-radius: 0 0 5px 0;
  
      transform: translate(-50%, -50%) rotate(45deg);
  
      transition: all .4s ease-in-out;
    }
    .load-more.active:before {
      border-radius: 50%;
      animation:
        .8s rotate .4s linear forwards infinite;
    }
    .load-more.active:after {
      width: 38px; height: 38px;
      border-radius: 50%;
      animation:
        .8s rotate2 .4s linear forwards infinite;
    }
      @keyframes rotate {
        to {
          transform: translate(-50%, -50%) rotate(405deg);
        }
      }
      @keyframes rotate2 {
        to {
          transform: translate(-50%, -50%) rotate(-315deg);
        }
      }
    .load-more.disabled:before,
    .load-more.disabled:after {
      margin-top: 0;
      transform: translate(-50%, -50%) rotate(135deg) rotateY(180deg);
    }